body{
	width: 50%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #FCFCFC;
}

header{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	background-color: orange;
}

footer{
	height: 100px;
	width: 100%;
	clear: both;
	text-align: center;
}

ul {
	list-style-type:none
}

div.menu {
	background-color: #F7D358;
}
