html,body {
	font-family: "futura-pt", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}


header {
	display: block;
	height: 380px;
	position: relative;
	text-align: center;
	width: 100%;
}

#wrap {
	clear: both;
	min-height: 100%;
	height: auto; !important;
	margin-bottom: -225px;
	margin: 0 auto
}

#container-nav{
	margin: 15px 0;
	display: block;
	float: left;
	width: 100%;
	margin-right: 0;
}

.container {
	margin-bottom: 40px;
	max-width: 68em;
	margin: 0 auto
}

nav {
	display: block;
	float: left;
	width: 100%;
}

nav li {
	float: left ;
	display: inline;  margin: 0 80px 20px 0;
}

.inline {
	display: inline;  margin: 0 80px 20px 0;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

nav li a:hover {
	color: #95b0cc;
}

.description{
	float: left;
	padding-left: 5px;
}

.img-center{
	text-align: center;
}

label {
	width: 180px;
	clear: left;
	text-align: right;
	padding-right: 10px;
}

input, label, textarea {
	float: left;
}

footer {
	background-color: black;
	color:white;
	text-align: center;
	margin-bottom: 0;
	padding: 30px;
	margin-top: 100px;
}

p { margin: 1em 0;}

/*--------------- FAQ -----------------------------*/
#faqList li {
	display: block;
	background-color: pink;
	border: solid 2px black;
	margin-bottom: 20px;
	padding: 10px;
}

/*---------------------- Cars ---------------------------*/
.carBox {
	float: left;
}
.img-car {
	border: 0;
	width: 500px;
	height: 300px;
}

/*------------------- Content design ----------------------*/
#content {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.contentBox {
	margin-top: 50px;
	border: solid 2px black;
	padding: 20px;
}
/*------------------- Google map ----------------------------*/

#map-canvas {
	width: 100%;
	height: 300px;
}

/*---------------------- Terms ---------------------------*/

ol.a{	list-style-type: lower-alpha;  }
ol.i{	list-style-type: lower-roman;  }

/*-----------------------Sitemap---------------------------*/
.sitemap-link{
	color: #FFFFFF;
}

/*-------------------- Forms---------------------------*/