html,body {
	font-family: "futura-pt", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

#wrap {
	clear: both;
	min-height: 100%;
	height: auto; !important;
	margin-bottom: -225px;
}

header {
	display: block;
	height: 380px;
	position: relative;
	text-align: center;
	width: 100%;
}

.container {
	margin-bottom: 40px;
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
}

#container-nav{
	margin: 15px 0;
	display: block;
	float: left;
	width: 100%;
	margin-right: 0;
}

nav {
	display: block;
	float: left;
	width: 100%;
}

.show-container-all:last-child{
	margin-right: 0;
}

.show-container-all .description{
	font-weight: lighter;
}

nav li {
      float: left ;
}

nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: black;
}

nav li a:hover {
      color: #95b0cc;
}

section{
	float: left;
	padding-right: 50px;
}

.description{
	float: left;
	padding-left: 5px;
}

footer {
	position: static;
	left: 0px;
	bottom: 0px;
	width: 100%;
    padding: 10px;
	background-color: black;
    color:white;
	text-align: center;
	padding-top: 1em;
}

li {  display: inline;  margin: 0 80px 20px 0;}
p { margin: 1em 0;}

/*--------------- FAQ -----------------------------*/
#faqList li {
    display: block;
    background-color: ivory;
    border: solid 2px black;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px 0;
}
/*
/*------------------- Content design ----------------------------*/
#content {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.contentBox {
	margin-top: 50px;
	border: solid 2px black;
	padding: 20px;
}

#map-canvas {
	width: 100%;
	height: 300px;
}