html, body {
	font-family: "futura-pt", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

header {
	display: block;
	height: 380px;
	width: 100%;
	background-image: url(img/header.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container, .container-nav {
	max-width: 68em;
	margin: 20px auto
}

nav{
	background-color: black;
	margin-bottom: 100px;
	display: block;
	float: left;
	width: 100%;
}

nav li{
	float: left ;
	display: inline;
	margin: 0 45px 20px 0;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

nav li a {
	color: white;
}

nav li a:hover, li ul a:hover {
	color: #95b0cc;
}

.description{
	float: left;
	padding-left: 5px;
}

.img-center, .inline-info-nav-container{
	text-align: center;
}

label {
	width: 180px;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 5px;
}

input, label, textarea, select {
	float: left;
	margin-top: 10px;
}

table{
	border-spacing: 10px;
	border-collapse: separate;
}

.space {
	margin-top: 170px;
	padding-left: 50%;
}

footer {
	background-color: #333;
	color:white;
	text-align: center;
	margin-bottom: 0;
	padding: 30px;
	margin-top: 100px;22:01 28.11.2014
}

p { margin: 1em 0;}

/*--------------- FAQ -----------------------------*/
#faqList li  {
	display: block;
	background-color: #e6e3af;
	margin-bottom: 20px;
	padding: 10px;
}
/*---------------------- Cars ---------------------------*/
.img-car {
	border: 0px;
	width: 500px;
	height: 300px;
}
/*------------------- Content design ----------------------*/
#content {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.contentBox {
	margin-top: 50px;
	background-color: #e6e3af;
	padding: 20px;
	border: 0px;
}
/*------------------- Google map ----------------------------*/

#map-canvas {
	width: 100%;
	height: 300px;
}
/*---------------------- Bestill --------------------------*/

.inline-info-nav {
	padding: 30px;
	text-decoration: none;
	font-weight: bold;
	display: inline;
}
/*---------------------- Terms ---------------------------*/

ol.a{	list-style-type: lower-alpha;  }
ol.i{	list-style-type: lower-roman;  }

/*---------------------- Sitemap --------------------------*/
.sitemap-link{
	color: #fff;
}

.sitemap-list a, .sources-list a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
